:host::ng-deep {
    .topSearch {
        margin-bottom: 30px;

        .p-card-body {
            height: 80px !important;

            .p-card-content {
                padding: 0 !important;
            }
        }
    }
}
