<div class="row mt-5 d-flex justify-content-center">
    <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3" >
        <div class="card mt-4">
            <iframe width="300" height="300" src="https://www.youtube.com/embed/y881t8ilMyc" frameborder="0" allowfullscreen></iframe>


            <div class="card-footer d-flex justify-content-between">
                <div>
                    <img width="25px" height="25px" src="assets/svgs/heart.svg"  alt="">
                    <h5>
<!--                        {{product.likes_count}}-->
                    </h5>
                    <p>
                        likes
                    </p>
                </div>
                <div>
                    <img width="34px" height="25px" src="assets/svgs/Retweet%20(2).svg" alt="">
                    <h5>
<!--                        {{product.retweets_count}}-->
                    </h5>
                    <p>
                        Replay
                    </p>
                </div>
                <div>
                    <img width="25px" height="25px" src="assets/svgs/Comment.svg"
                         alt="">
                    <h5>
<!--                        {{product.replies_count}}-->
                    </h5>
                    <p>
                        Comments
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
