<!--<div class="col-md-12 col-xl-12 col-sm-12 col-lg-12 p-1 zoom1" cdkDrag> &lt;!&ndash; created a column and used angular material draggable. &ndash;&gt;-->
<!--    <div pDraggable="pnl"  dragHandle=".p-panel-titlebar">-->
<!--            <p-tabPanel header="Top Hahtags">-->
<!--                <p-table #dt [value]="cutomershastags" dataKey="id" id="table124" selectionMode="multiple" styleClass="ui-table-customers" [rowHover]="true"-->
<!--                         [rows]="7" [showCurrentPageReport]="true"-->
<!--                         [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"-->
<!--                         [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">-->
<!--                    <ng-template pTemplate="header">-->
<!--                        <tr>-->
<!--                            <th pSortableColumn="name">Top-Hashtags <p-sortIcon field="tophashtags"></p-sortIcon></th>-->
<!--                            <th pSortableColumn="status"> Hashtag-Count <p-sortIcon field="usagecount"></p-sortIcon></th>-->
<!--                        </tr>-->
<!--                    </ng-template>-->
<!--                    <ng-template pTemplate="body" let-customer>-->
<!--                        <tr class="ui-selectable-row">-->
<!--                            <td style="height: 70px; display: flex;">-->
<!--                                <span style="padding: 16px">{{customer.hashtag}}</span>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <span>{{customer.hashtag_count}}</span>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    </ng-template>-->
<!--                    <ng-template pTemplate="emptymessage">-->
<!--                        <tr>-->
<!--                            <td colspan="8" style="text-align:left">No Record found.</td>-->
<!--                        </tr>-->
<!--                    </ng-template>-->
<!--                </p-table>-->
<!--            </p-tabPanel>-->
<!--    </div>-->
<!--</div>-->
